.headTxt{
  float: left;
  margin-left: 16vh;
  font-size: 20px;
  text-align: center;
}

.midSectAppreciation{
    margin-top: 17vh;
    border-radius: 40px;
    margin-left: 24vw;
    background-color: white;
    width: 52%;
}

.centerText{
    text-align: center;
}

#txtInfo{
  width: 75%;
  margin-left: 16vh;
}

#btRetour{
    transform:translate(4vw,5.5vh);
    position: absolute;
  }

#save{
  align: center;
  }

#overlay {
  left: 0px;
  top: 0px;
  position: fixed;
  overflow: hidden;
  z-index: -999997;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

#overlay::before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  opacity: .45;
  background-color: #212529;
  z-index: 1;
}
  ­
