.midSectAppreciation{
    margin-top: 15vh;
    border-radius: 60px;
    margin-left: 15vw;
    background-color: white;
}

.centerText{
    text-align: center;
}

#btRetour{
    transform:translate(4vw,5.5vh);
    position: absolute;
  }
  #overlay {
    left: 0px;
    top: 0px;
    position: fixed;
    overflow: hidden;
    z-index: -999997;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%; }
    #overlay::before {
      position: absolute;
      height: 100%;
      width: 100%;
      content: "";
      opacity: .45;
      background-color: #212529;
      z-index: 1; }
  ­
