  input:focus + label {
   color: #007bff !important;
  }

  input:focus {
   border-bottom: 1px solid #007bff !important;
   box-shadow: 0 1px 0 0 #007bff !important
  }

  textarea:focus + label {
    color: #007bff !important;
  }

  textarea:focus {
   border-bottom: 1px solid #007bff !important;
   box-shadow: 0 1px 0 0 #007bff !important
  }

  [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #007bff !important;
  }

  [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #007bff !important;
  }

  [type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #007bff;
    background-color: #007bff;
  }

  div.input-field {
    margin: 0;
  }

  [type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after, [type="radio"]+span:before, [type="radio"]+span:after {
    top: 50% !important;
   }

   .addOption, .deleteOption {
     margin-left: 5px;
   }

  select option { color: black !important; }

  .form-control:disabled, .form-control[readonly] {
     background-color: transparent !important;

  }

  .invalid-input {
    border-bottom: 1px solid red !important;
  }

  .dropdown-content li > span {
    color: black;
  }

 .form-title[type="text"]:not(.browser-default) {
   height: 6rem;
   font-size: 25px;
 }

.gray-background{
    background-color: #f1f3f2;
    border-left-width: 200px;
    border-right-width: 200px;
    border-style: solid;
    border-color: #f1f3f2;
    background: #f1f3f2;
}

.card-background{
  margin-top: 20px;
  border-radius: 10px;
  border-width: 20px;
  border-style: solid;
  border-color: #ffffff;
  background: #ffffff;
}

.toolbox {
  text-align: center;
}

.align-center {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.fontButton {
  margin: 2px 5px;
  font-size: 27px;
  color: #1e2123;
}

.fontButton:hover {
  color: #393e42;
}

.row {
  margin-bottom: 0px !important;
}

body{
    background-image:url("../img/img1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h6{
  margin-left:20px; margin-right:20px;
}

form{

    padding:5%;
}

h1{
  text-align: center;

}

.gras{
font-weight: bold;

}

.inputtable {

    background: transparent;
}

.radiobut{
display: inline;
width: 5%;
}

#btRetour{
  transform:translate(4vw,5.5vh);
  position: absolute;
}
#overlay {
  left: 0px;
  top: 0px;
  position: fixed;
  overflow: hidden;
  z-index: -999997;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%; }
  #overlay::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    opacity: .45;
    background-color: #212529;
    z-index: 1; }
­


/*@media screen and (max-width: 1550px) {
  body:after {
      position: fixed;
      padding: 30px 15px;
      line-height: 1.2;
      text-align: center;
      content: "Votre écran n'est pas assez large. Veuillez pivoter votre appareil, ou consulter ce site sur un appareil plus récent.";
      opacity: 0.9;
      top: 0;
      left: 0;
      z-index: 1000000;
      background: white;
      width: 100%;
      height: 100%;
  }
}*/
