.midSection{
  margin-top: 5vh;
  margin-left: 15vw;
  width: 70vw;
  height: 85vh;
}

#btRetour{
  transform:translate(4vw,5.5vh);
  position: absolute;
}

#overlay {
  left: 0px;
  top: 0px;
  position: fixed;
  overflow: hidden;
  z-index: -999997;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
#overlay::before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  opacity: .45;
  background-color: #212529;
  z-index: 1;
}

#addVaccin{
  font-size: 4vh;
  top: 1vh;
  color: #5cb85c ;
}

#addVaccin:hover {
  color: black;
}

#lbladd{
  font-size: 2.5vh;
  margin-left: 1vh;
}

#overlay {
  left: 0px;
  top: 0px;
  position: fixed;
  overflow: hidden;
  z-index: -999997;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

#overlay::before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  opacity: .45;
  background-color: #212529;
  z-index: 1;
}
