body{
  font-family: 'Poppins';font-size: 15px;
}
.BTacccept,.BTview{
  margin-right: 1vw;

}

.midSection{
  margin-top: 5vh;
  margin-left: 15vw;
  width: 70vw;
  height: 85vh;
}

#btRetour{
  transform:translate(4vw,5.5vh);
  position: absolute;
}

#btCreerDemande{
  margin-left: 59.5vw;
}
#overlay {
  left: 0px;
  top: 0px;
  position: fixed;
  overflow: hidden;
  z-index: -999997;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
#overlay::before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  opacity: .45;
  background-color: #212529;
  z-index: 1;
}

label{
  color:white;
}
.dataTables_info{
  color:white;
}
­
