body{
  font-family: 'Poppins';font-size: 15px;
}
.BTacccept,.BTview,.BTselection,.BTdesactiver{
  margin-right: 1vw;

}

.midSection{
  margin-top: 5vh;
  margin-left: 15vw;
  width: 70vw;
  height: 85vh;
}

#btRetour{
  transform:translate(4vw,5.5vh);
  position: absolute;
}

#overlay {
  left: 0px;
  top: 0px;
  position: fixed;
  overflow: hidden;
  z-index: -999997;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%; }
  #overlay::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    opacity: .45;
    background-color: #212529;
    z-index: 1; }

  .addprojet{
    display: inline-block;
    float:left;
  }
  label{
    color:white;
  }
  .dataTables_info{
    color:white;
  }

  .btAffichage{
    background-color: #27282b;
    color: white;
  }

  .btSelectAffichage
  {
    background-color: #696969;
    color: white;
  }
­
