.BTModif,.BTSuppr,.BTSelect{
  margin-right: 1vw;

}

.btAffichage{
  background-color: #27282b;
  color: white;
}

.btSelectAffichage
{
  background-color: #696969;
  color: white;
}

.midSection{
  margin-top: 5vh;
  margin-left: 15vw;
  width: 70vw;
  height: 85vh;
}

#btRetour{
  transform:translate(4vw,5.5vh);
  position: absolute;
}

.dataTables_info{
  color:white;
}
label{
  color:white;
}

#tblFormulaires_wrapper {
  margin-top: 20px;
}

#tblMobilite_wrapper {
  margin-top: 20px;
}

#addFormulaire {
   margin-top: 10px;
}