body {
  margin: 0;
}

#logo{
  height: 9vh;
  width: 45vw;
}

#projetTitle{
  width: 50vh;
  font-size: 2vh;
  font-family: 'Poppins';
  font-size: 15px;
}


#hello {
  float: right;
  position: absolute;
  color: white;
  right: 15vw;
  top: 6.5vh;
  height: 4vh;
  width: 13vw;
  font-size: 0.8vw;
  text-align: center;
  font-size: 18px;
}

#btDeconnexion {
  float: right;
  position: absolute;
  background-color: white;
  color: black;
  right: 2vw;
  top: 5vh;
  height: 4vh;
  width: 10vw;
  font-size: 0.8vw;
  text-align: center;
}
#btDeconnexion:hover{
  background-color: gray;
}

header{
  height:10vh;
  background-color: #07245c;
}

.fa-sign-out{
  display: block !important;
}
