
.iconSection{
  height: 10vh;
}

body{
  background-image: url('../PageDemandeVoyage/img1.jpg');
  font-family: 'Poppins';
  font-size: 15px;
}

#proftable{
  margin-left:23.3vw;
  margin-right:23.3vw;
  table-layout: fixed;
}


.proftd{
  width: 25vw;
  height: 19.2vh;
  display:inline-block;
  margin-left:8px;
  margin-right:8px;
  margin-top:15px;
  margin-bottom:15px;
}

.sectionP{
  width: 25vw;
  height: 21vh;
  border-radius: 15px;
  text-align: center;
  background:linear-gradient(to bottom, #FEFCFF 5%, #FEFCFF 100%);
  display:inline-block;
  cursor:pointer;
  color:black;
  font-family:Arial;
  font-size:3vh;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #1c1c1c;
  opacity: 0.85;
  border:none;
}

.sectionP span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;}

.sectionP span:after {
  content: '\21E8';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1vw;
  transition: 0.5s;
}

.sectionP:hover span {
  padding-right: 25px;
}

.sectionP:hover span:after {
  opacity: 1;
  right: -1vw;
}
#overlay {
  left: 0px;
  top: 0px;
  position: fixed;
  overflow: hidden;
  z-index: -999997;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

#overlay::before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  opacity: .45;
  background-color: #212529;
  z-index: 1;
}

­
