.container{
    background-color: white;
}

.grayzone{
  border-radius: 25px;
}

body{
    background-image:url("../img/img1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.tagH6{
  margin-left:20px; margin-right:20px;
}

#form{

    padding:5%;
}

.lbh1{
  text-align: center;

}

.gras{
font-weight: bold;

}

.inputtable {

    background: transparent;
}

.radiobut{
display: inline;
width: 5%;
}

#btRetour{
  transform:translate(4vw,5.5vh);
  position: absolute;
}
#overlay {
  left: 0px;
  top: 0px;
  position: fixed;
  overflow: hidden;
  z-index: -999997;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%; }
  #overlay::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    opacity: .45;
    background-color: #212529;
    z-index: 1; }
­
