body{
  font-family: 'Poppins';font-size: 15px;
  background-image:url("../img/img1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header{
  height:10vh;
  background-color: #07245c;
}

.container{
    margin-top: 14vh;
}

#btAnnuler{
    height: 40px;
    width: 40%;
    float: right;
    text-align: center;
    line-height: 10px;
    background-color: #07245c;
    color:white;
    border:none;
}

#btCreateAccount{
    height: 40px;
    width: 40%;
    float: left;
    text-align: center;
    line-height: 10px;
    background-color: #07245c;
    color:white;
    border:none;
}

#btCreateAccount:hover{
background-color: white;
color:black;
}

#btAnnuler:hover{
background-color: white;
color:black;
}

#lbPassword{
    text-align: left;
}

#lbCourriel{
    text-align: left;
}

#alert_create_acc{
    visibility: hidden;

}


label{
color:white;
}

#overlay {
  left: 0px;
  top: 0px;
  position: fixed;
  overflow: hidden;
  z-index: -999997;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%; }
  
  #overlay::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    opacity: .45;
    background-color: #212529;
    z-index: 1; }
­
